<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/estilos.css')}}" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    </head>
    <body>
        <nav>
            <div class="topnav">
            <a href="{{path('index')}}" id="titulo">SACRA</a>
            <a href="{{path('horario')}}" id="link">Horario</a>
            <a href="{{path('galeria')}}" id="link">Fotos</a>
            <a href="{{path('info')}}" id="link">INFO</a>
            <input></input><button>Buscar</button>
            <a href="{{path('lista')}}" id="link">ADMIN</a>
            <a href="{{path('Form')}}" id="link">Registro</a>
            <a href="{{path('login')}}" id="link">LOG IN</a>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
        <footer id="footer">
        <div>
            <img src="{{ asset('/fotos/facebook.png') }}">
            <img src="{{ asset('/fotos/insta.png') }}" id="footerphoto">
            <img src="{{ asset('/fotos/twitter.png') }}" id="footerphoto">
        </div>
        </footer>
        {% block javascripts %}{% endblock %}
</body>
</html>
