{% extends('base.html.twig')%}

{% block stylesheet %}

{% endblock %}

{% block body %}

<div class="image">
<h1>GALERIA DE IMAGENES</h1>
<img src="{{ asset('/fotos/foto1.jpg') }}">
<img src="{{ asset('/fotos/foto2.jpg') }}">
<img src="{{ asset('/fotos/foto3.jpg') }}">
<img src="{{ asset('/fotos/foto4.jpg') }}">
<img src="{{ asset('/fotos/foto5.jpg') }}">
<img src="{{ asset('/fotos/foto6.jpg') }}">
<img src="{{ asset('/fotos/foto7.jpg') }}">
<img src="{{ asset('/fotos/foto8.jpg') }}">
<img src="{{ asset('/fotos/foto8.jpg') }}">

</div>
<!-- IDEA:caja vacia para algo  -->
<div class="cleaboth">
</div>
{% endblock %}
